GenCompiler/TokenParser/.idea
CodeConfusion3/.idea
GenCompiler/TokenParser/Test.TokenParser/bin
GenCompiler/TokenParser/Test.TokenParser/obj
GenCompiler/TokenParser/TokenParser/bin
GenCompiler/TokenParser/TokenParser/obj
CodeConfusion3/CodeConfusion3/obj
CodeConfusion3/CodeConfusion3/bin
